*{
    margin: 0;
}
@import url(https://fonts.googleapis.com/css?family=Manrope);
body{
    font-family: 'Manrope', sans-serif;
}

.cover{
        height: 100%;
        width: 100%;
        background-color:  hsl(218, 23%, 16%);
        display: flex;
        justify-content: center;
        position: fixed;
}
.boxa{
    background-color: hsl(217, 19%, 24%);
    width: 550px;
    height: 360px;
    border-radius: 18.6px;
    box-shadow: 0px 1px 200px 0px rgba(0, 0, 0, 0.185);
    margin-top: 24%;
    padding-top: 5px;
}
.festa{
    color:hsl(150, 100%, 66%) ;
    text-align: center;
   margin-top: 7%;
    font-size: medium;
    letter-spacing: 7px;
}
.maintexta{
    text-align: center;
    color: hsl(193, 38%, 86%) ;
    font-weight: 700;
    font-size: 190%;
    width: 84%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 6.4%;
    line-height: 46px;
}
.linea{
    display: flex;
    justify-content: center;
}
.lina{
    width: 80%;
}
.circlea{
    height: 76px;
    width: 76px;
    background-color:hsl(150, 100%, 66%) ;
    border-radius: 38px;
    margin: auto;
    position: absolute;
    left: 47.4%;
    top: 70%;
}
.circlea:hover{
    box-shadow: 1px 1px 34px 4px hsl(150, 100%, 66%) ;
}
.dica{
    margin-left: 25%;
    margin-top: 25%;
    height: 50%;
}
.App-logo {
    margin-left: 25%;
    margin-top: 25%;
    height: 50%;
    animation: App-logo-spin  1.2s alternate;
  }
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(720deg);
    }
  }


@media(max-width:900px){
    .circlea{
        height: 60px;
        width: 60px;
        border-radius: 30px;
        top: 470px;
        left: 45.7%;
    }
}

@media(max-width:476px){

    .boxa{
        width: 320px;
        height: 290px;
        margin-top: 40%;
        border-radius: 11px;
    }
    .festa{
        font-size: small;
        letter-spacing: 5px;
    }
    .maintexta{
       font-size: 130%;
       line-height: 35px;
    }
    .circlea{
        height: 60px;
        width: 60px;
        border-radius: 30px;
        top: 390px;
        left: 42.7%;
    }
    .circlea:hover{
        box-shadow: 0px 0px 0px 0px hsl(150, 100%, 66%) ;
      
    }
}
